table {

	border: 1px solid;
	background: #dcdcdc;
	width: 100%;
	border-collapse: collapse;

}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: right;
	vertical-align: middle;
	color: black;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
}
